<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Enquire Home</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        tex2jax: {
          inlineMath: [["$","$"],["\\(","\\)"]]
        }
      });
    </script>
    <script
      type="text/javascript"
      src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML-full"
    ></script>
  </head>

  <body style="overflow-x: hidden;">
    <%- include('partials/navbar.ejs')%>
    <div class="row">

         <div class="wrapper col-lg-2  bg-light border-right sticky-top" id="sidebar-sticky" style="margin-left: 20px; height: 100%;">
        <nav class="sidebar">
            <div class="sidebar-header" id="sidebar-wrapper">
                <h3>Enquire Menu</h3>
            </div>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="" style="color:#0058AB;">First Year Questions</a>
                </li>
            </ul>
        </nav>
    </div>
    
      

      <div
        class="content col-lg-6"
        style="margin-left: 10%; margin-top: 20px; margin-bottom: 20px; width: 50%;"
      >
        <!-- Need to have an array of objects in here and a for loop-->
        <% for(i in list){ %>
        <div class="card" style="margin-top: 20px;">
          <div class="card-header">
            <h1><%=list[i].title%></h1>
          </div>
          <div class="card-body">
            <p>
              Question: <%= list[i].body.substring(0,50) %>
            </p>
            <ul>
              <li>Subject: <%= list[i].course%></li>
              <li>User: <%= list[i].author%></li>
              <li>Date: <%=list[i].date.getMonth()%></li>
            </ul>
          </div>
        </div>
        <% } %>
      </div>
    </div>
   
    
  </body>
</html>
